.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: Thasadith;
    font-size: 18px;
    line-height: 35px;
    font-weight: 600;
    background-color: white;
    width: 100%;
    margin: 0;
}

.about::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    height: 100%;
    width: 100%;
    background: white;

}

.section {
    opacity: 1;
    scroll-snap-align: start;
}


.load-in {
    opacity: 1;
    animation: load-in 500ms ease-out 250ms   ;
    transition: all 500ms ease-out 250ms;
}

@keyframes load-in{
    from {
        filter: blur(5px);
        transform: translateY(100%);
    }
    to {
        filter: blur(0);
        transform: translateY(0);
    }
}
  

.about-wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    background-color: white;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* margin: 5% 0; */
    margin: 0;
}

video {
    position: sticky;
    left: 0;
    top: 0;
    width: 25%;
}

.about-text-wrapper {
    height: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    background-image: url(../assets/images/Pillar-logo-plain.png);
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.service-text-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 550px;
    height: 100%;
    margin: 0;
}

.service {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0px;
    overflow: hidden;
    z-index: 10;
}

.minimized-size {
    height: 100px;
    width: 300px;
    transition: all 200ms ease-in;
}

.full-size {
    width: 500px;
    max-height: 500px;
    transition: all 150ms ease-in;
    overflow-y: auto;
}

.left {
    background-color: #778486;

}

.center {
    background-color: #AABCBF;
}

.right {
    background-color: hsl(189, 14%, 81%);
}

.services-wrapper {
    position: relative;
    width: 100%;
    min-height: 600px;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 0px auto;
    z-index: 99;
}

.placement-bg {
    position: relative;
    background-image: url(../assets/images/engineering-bg.jpg);
    background-size: cover;
    background-position: center;
    z-index: 1;
    margin: 0;
    height: 100%;
}

.placement-bg::after {
    content: "";
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: rgb(170, 188, 191, .25);
    z-index: -1;
}

.business-bg {
    position: relative;
    background-image: url(../assets/images/office-bg.jpg);
    background-position: center;
    background-size: cover;
}

.business-bg::after {
    content: "";
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(170, 188, 191, .5);
}


.service-text {
    box-sizing: border-box;
    position: relative;
    width: 95%;
    padding: 20px;
    margin: 0 auto;
    animation: fade-in 500ms ease-out;
}

#service1 {
    background-color: #778486;
}

#service2 {
    background-color: #AABCBF;
}

#service3 {
    background-color: hsl(189, 14%, 81%);
}

#service4 {
    background-color: #778486;
}

#service5 {
    background-color: #AABCBF;
}

#service6 {
    background-color: hsl(189, 14%, 81%);
}

.about-title {
    position: relative;
    font-family: Prata;
    text-align: center;
    font-weight: 500;
    font-size: 40px;
    width: fit-content;
    margin: 25px auto 50px;
}

.about-title::after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: -10%;
    width: 120%;
    height: 2.5px;
    background-color: gray;
}

.about-text {
    width: 80%;
    margin: 0 auto;
    text-align: center
}

.service-title {
    position: relative;
    font-family: Prata;
    text-align: center;
    font-weight: 500;
    font-size: 35px;
    width: 100%;
    padding: 35px 0 25px;
    margin: 0;
    /* margin: 25px auto 50px; */
    background-color: #aabcbf;

}

.service-subtitle-wrapper {
    box-sizing: border-box;
    position: relative;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 20;
}

.service-subtitle {
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    font-family: Prata;
    font-size: 20px;
    font-weight: 500;
    margin: auto;
    text-align: center;
    padding: 20px 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}

.minimized-size:hover {
    transition: all 100ms ease-out;
    width: 400px;
    z-index: 99;
    cursor: pointer;
}

.more-services {
    height: fit-content;
    margin: 0 10%;
    transition: all 250ms;

}

.view-more-toggle {
    color: rgba(255, 255, 255, .75);
    position: relative;
    width: fit-content;
    transition: all 250ms;
    padding: 5px 20px;
    z-index: 99;
}

.view-more-toggle::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -15%;
    width: 100%;
    height: 2.5px;
    padding: 0 5%;
    background-color: white;
    transform: translateX(-50%);
    opacity: 0;

}

.view-more-toggle:hover {
    cursor: pointer;
    font-weight: 900;
    color: rgb(255, 255, 255);
    transform: scale(1.015);
    transition: all 250ms;

}

.view-more-toggle:hover::after {
    transform: translateX(0);
    opacity: 1;
    transition: all 500ms;
}

.fade-in {
    animation: fade-in 750ms ease-out;
}

@keyframes fade-in {
    0% {
        transform: translateY(-10%);
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}