.faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    font-family: Thasadith;
    font-size: 18px;
    /* padding: 0 10%; */
    line-height: 35px;
    font-weight: 600;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: hsl(0, 0%, 95%);
    border-radius: 5px;
    margin: 20px auto;
}

.faq-title {
    position: relative;
    font-family: Prata;
    text-align: center;
    font-weight: 500;
    font-size: 40px;
    width: fit-content;
    margin: 50px auto;
}

.faq-question {
    position: relative;
    font-family: Prata;
    font-size: 25px;
    font-weight: 500;
    margin: 15px 0;
}

.faq-question::after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: -10%;
    width: 120%;
    height: 2.5px;
    background-color: grey;
}