body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@font-face {
  font-family: Prata;
  src: url(./assets/fonts/Prata/Prata-Regular.ttf);
}

@font-face {
  font-family: Thasadith;
  src: url(./assets/fonts/Thasadith/Thasadith-Regular.ttf);
}